@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@700&family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@700&family=Montserrat:ital@1&family=Playfair+Display+SC:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(reallast.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
    font-family: 'Playfair Display',sans-serif;
}
p{
    color: #fff;
    font-size: 25px;
    line-height: 15px;
}
.card{
    width: 250px;
    height: 280px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(medine\ night.jpg); 
    background-position: center;
    background-size: cover;
}
.card1{
    background-image: url(mecque3.jpg);
}
.card2{
    background-image: url(versailles27.jpg);
}
.card3{
    background-image: url(maldives6.jpg);
}
.card4{
    background-image: url(mpichu1.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;

}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 15px;
    font-family: 'Playfair Display', sans-serif;
}
.navbar{
    width:  100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;

}

nav ul{
    list-style-type: none;
    float: right;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: right;
}
    
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    transition: 0.6 ease;   
}
ul li a:hover{
    background: white;
    color: black;
}
